.Nav-container{
    display: flex;
    align-items: center;         /* THIS is the key */
    justify-content: space-between;
    background-color:  var(--bg-color);
    color: var(--text-color);
    height: 60px;                /* Give it height! */
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}
