.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--icon-color);
    padding: 0;
    cursor: pointer;
}
.menuBtn{
    color: var(--icon-color)
}